.demo-mode-overlay-content {
  border: 0.139vw solid #00bfff;
  z-index: 100;
  pointer-events: none;
  border-radius: 0.729vw;
}

.demo-mode-enhance-content {
  border: 0.139vw solid #00bfff;
  pointer-events: none;
  border-radius: 0.729vw;
}

.demo-mode-image-content {
  border: 0.139vw solid #00bfff;
  z-index: 100;
  pointer-events: none;
  padding: 1.667vw;
  border-radius: 0.556vw;
  position: relative;
}

.demo-mode-answer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .center-popup {
    position: absolute;
    top: 26vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 50, 0.85);
    border: 0.139vw solid #00bfff;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.729vw;
    padding: 1.778vh 1.389vw;
    color: white;
    width: 41.458vw;
    height: 7.111vh;
    text-align: center;
  }

  .tooltip-wrapper {
    position: absolute;
    bottom: 21vw;
    left: 2vw;
  }

  .tooltip-box {
    background: #0a0622;
    color: white;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.833vw;
    padding: 1.778vh 1.389vw;
    width: 26.51vw;
    height: 24.59vh;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
  }

  .content-tooltip {
    margin-top: 8px;
  }

  .tooltip-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.333vh;
  }

  .tooltip-circle {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .tooltip-button {
    background: transparent;
    border: none;
    color: #00c4fa;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125em;
    margin-top: 0.889vh;
    float: right;
  }

  .tooltip-box::after {
    content: '';
    position: absolute;
    bottom: -1.333vh;
    left: 2.778vw;
    width: 0;
    height: 0;
    border-left: 0.694vw solid transparent;
    border-right: 0.694vw solid transparent;
    border-top: 1.4vh solid #0d0a2b;
    z-index: 2;
  }

  .tooltip-box::before {
    content: '';
    position: absolute;
    bottom: -1.556vh;
    left: 2.708vw;
    width: 0;
    height: 0;
    border-left: 0.764vw solid transparent;
    border-right: 0.764vw solid transparent;
    border-top: 1.556vh solid #00bfff;
    z-index: 1;
  }
}

.demo-mode-enhance-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .overlay-textbox {
    border: 0.104vw solid #00c4fa;
    z-index: 9;
    pointer-events: none;
  }

  .center-popup {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a0622;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.729vw;
    padding: 1.778vh 1.389vw;
    color: white;
    width: 41.458vw;
    height: 7.111vh;
    text-align: center;
    font-size: 1.125em;
  }

  .tooltip-wrapper {
    position: absolute;
    bottom: 30.547vh;
    left: 3.646vw;
  }

  .tooltip-box {
    background: #0a0622;
    color: white;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.833vw;
    padding: 1.778vh 1.389vw;
    width: 26.51vw;
    height: 25.59vh;
    font-family: 'IntelOne';
    font-size: 1em;
    position: relative;
  }

  .tooltip-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.333vh;
  }

  .tooltip-circle {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .tooltip-button {
    background: transparent;
    border: none;
    color: #00c4fa;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125em;
    margin-top: 0.889vh;
    float: right;
  }

  .tooltip-box::after {
    content: '';
    position: absolute;
    bottom: -1.333vh;
    left: 2.778vw;
    width: 0;
    height: 0;
    border-left: 0.694vw solid transparent;
    border-right: 0.694vw solid transparent;
    border-top: 1.4vh solid #0d0a2b;
    z-index: 2;
  }

  .tooltip-box::before {
    content: '';
    position: absolute;
    bottom: -1.556vh;
    left: 2.708vw;
    width: 0;
    height: 0;
    border-left: 0.764vw solid transparent;
    border-right: 0.764vw solid transparent;
    border-top: 1.556vh solid #00bfff;
    z-index: 1;
  }
}

.demo-mode-create-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .create-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-box {
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    background: #0a0622;
    color: #fff;
    border-radius: 0.729vw;
    padding: 1.778vh 1.389vw;
    font-size: 1.125em;
    width: 41.458vw;
    height: 7.111vh;
    position: absolute;
  }

  .prompt-popup-box {
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    background: #0a0622;
    color: #fff;
    border-radius: 0.729vw;
    font-size: 1em;
    font-weight: 400;
    width: 26.493vw;
    height: 20.257vh;
    position: absolute;
    padding: 2.556vh 1.25vw 2.556vh 1.25vw;
  }

  .center-box {
    top: 26vh;
  }

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .bottom-left-box {
    bottom: 29.16vh;
    left: 3.49vw;
    display: flex;
    align-items: flex-start;
  }

  .step {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .content {
    flex: 1;
  }

  .example {
    font-style: IntelOne Display;
    margin-top: 0.444vh;
    font-weight: 400;
  }

  .action {
    margin-top: 0.889vh;
    font-size: 1.125em;
    font-weight: 500;
    background: none;
    border: none;
    color: #3bc8ff;
    font-weight: bold;
    cursor: pointer;
    justify-content: flex-end;
  }

  .prompt-popup-box::after {
    content: '';
    position: absolute;
    bottom: -1.333vh;
    left: 2.778vw;
    width: 0;
    height: 0;
    border-left: 0.694vw solid transparent;
    border-right: 0.694vw solid transparent;
    border-top: 1.4vh solid #0d0a2b;
    z-index: 2;
  }

  .prompt-popup-box::before {
    content: '';
    position: absolute;
    bottom: -1.556vh;
    left: 2.708vw;
    width: 0;
    height: 0;
    border-left: 0.764vw solid transparent;
    border-right: 0.764vw solid transparent;
    border-top: 1.556vh solid #00bfff;
    z-index: 1;
  }
}

.demo-mode-Image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .tooltip-wrapper {
    position: absolute;
    bottom: 44.743vh;
    left: 3.646vw;
  }

  .tooltip-box {
    background: #0a0622;
    color: white;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.833vw;
    padding: 1.778vh 1.389vw;
    width: 26.51vw;
    height: 24.59vh;
    font-family: 'IntelOne';
    font-size: 1em;
    position: relative;
  }

  .tooltip-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.333vh;
  }

  .tooltip-circle {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .tooltip-button {
    background: transparent;
    border: none;
    color: #00c4fa;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125em;
    margin-top: 0.889vh;
    float: right;
  }

  .tooltip-box::after {
    content: '';
    position: absolute;
    bottom: -1.333vh;
    left: 2.778vw;
    width: 0;
    height: 0;
    border-left: 0.694vw solid transparent;
    border-right: 0.694vw solid transparent;
    border-top: 1.4vh solid #0d0a2b;
    z-index: 2;
  }

  .tooltip-box::before {
    content: '';
    position: absolute;
    bottom: -1.556vh;
    left: 2.708vw;
    width: 0;
    height: 0;
    border-left: 0.764vw solid transparent;
    border-right: 0.764vw solid transparent;
    border-top: 1.556vh solid #00bfff;
    z-index: 1;
  }
}

.demo-mode-outpaint-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .tooltip-wrapper {
    position: absolute;
    bottom: 43.864vh;
    left: 3.646vw;
  }

  .tooltip-box {
    background: #0a0622;
    color: white;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.833vw;
    padding: 1.778vh 1.389vw;
    width: 26.51vw;
    height: 26.583vh;
    font-family: 'IntelOne';
    font-size: 1em;
    position: relative;
    line-height: 100%;
  }

  .tooltip-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.333vh;
  }

  .tooltip-circle {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .tooltip-button {
    background: transparent;
    border: none;
    color: #00c4fa;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125em;
    margin-top: 0.889vh;
    float: right;
  }

  .tooltip-box::after {
    content: '';
    position: absolute;
    bottom: -1.333vh;
    left: 2.778vw;
    width: 0;
    height: 0;
    border-left: 0.694vw solid transparent;
    border-right: 0.694vw solid transparent;
    border-top: 1.4vh solid #0d0a2b;
    z-index: 2;
  }

  .tooltip-box::before {
    content: '';
    position: absolute;
    bottom: -1.556vh;
    left: 2.708vw;
    width: 0;
    height: 0;
    border-left: 0.764vw solid transparent;
    border-right: 0.764vw solid transparent;
    border-top: 1.556vh solid #00bfff;
    z-index: 1;
  }
}

.demo-mode-inpaint-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .got-it-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .tooltip-wrapper {
    position: absolute;
    top: 28.583vh;
    right: 19.444vw;
  }

  .tooltip-box {
    background: #0a0622;
    color: white;
    border: 0.104vw solid #00c4fa;
    box-shadow: 0px 0.75px 4.95px #00c4fa;
    border-radius: 0.833vw;
    padding: 1.778vh 1.389vw;
    width: 27.361vw;
    height: 27.25vh;
    font-family: 'IntelOne';
    font-size: 1em;
    position: relative;
    line-height: 110%;
  }

  .tooltip-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.333vh;
  }

  .tooltip-circle {
    width: 1.589vw;
    height: 2.542vh;
    border-radius: 50%;
    background-color: transparent;
    border: 0.104vw solid #00c4fa;
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.556vw;
    flex-shrink: 0;
  }

  .tooltip-button {
    background: transparent;
    border: none;
    color: #00c4fa;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.125em;
    margin-top: 0.889vh;
    float: right;
  }

  .tooltip-box::after {
    content: '';
    position: absolute;
    right: -0.833vw; /* Align to the right side */
    bottom: 10.222vh; /* Adjust vertically as needed */
    width: 0;
    height: 0;
    border-top: 1.111vh solid transparent;
    border-bottom: 1.111vh solid transparent;
    border-left: 0.933vw solid #0d0a2b; /* Inner arrow */
    z-index: 2;
  }

  .tooltip-box::before {
    content: '';
    position: absolute;
    right: -1.556vh;
    bottom: 10.111vh;
    width: 0;
    height: 0;
    border-top: 1.222vh solid transparent;
    border-bottom: 1.222vh solid transparent;
    border-left: 0.972vw solid #00bfff; /* Outer border arrow */
    z-index: 1;
  }
}

.demo-mode-inpaint-content {
  border: 0.139vw solid #00bfff;
  z-index: 100;
  pointer-events: none;
  padding: 1.389vw;
  border-radius: 0.729vw;
  position: relative;
}

.demo-mode-outpaint-content {
  border: 0.139vw solid #00bfff;
  z-index: 100;
  pointer-events: none;
  padding: 0.694vw;
  border-radius: 0.729vw;
  position: relative;
}

.demo-mode-denoise-content {
  border: 0.139vw solid #00bfff;
  z-index: 100;
  pointer-events: none;
  padding: 2.778vw;
  border-radius: 0.729vw;
  position: relative;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.75s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.demo-help-button {
  position: absolute;
  top: 1.333vh;
  right: 1.389vw;
  background-color: #01aef2;
  color: #fff;
  font-weight: 400;
  padding: 0.667vh 0.833vw;
  border-radius: 0.417vw;
  border: none;
  cursor: pointer;
  font-size: 0.8vw;
  width: 7.042vw;
  height: 3.519vh;
}

.demo-right-arrow {
  content: '\2192';
  cursor: pointer;
}

.demo-number-overlay {
  position: relative;
}

.demo-step-number {
  z-index: 101;
  position: absolute;
  background: #0a0622;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1.589vw;
  height: 2.542vh;
  border-radius: 50%;
  border: 0.104vw solid #00c4fa;
  color: white;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-step-number-two {
  left: 108%;
  top: -8%;
}

.demo-step-number-answer {
  transform: translate(-30%, -30%) !important;
}

.demo-variation-splitter {
  position: relative;
  height: 100%;
  &::after {
    position: absolute;
    right: -1.736vw;
    top: 0px;
    height: 108%;
    content: '';
    border-right: 0.139vw solid #00c4fa;
  }
}
